/*** Docs ***/
#directives-calendar .well {
	color: black !important;
}
#directives-calendar .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

#directives-calendar .close:hover,
#directives-calendar .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#directives-calendar button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.icon-remove {
  background-position: -312px 0;
}

#directives-calendar [class^="icon-"],
#directives-calendar [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-repeat: no-repeat;
}

#directives-calendar #gimmemargin {
	margin-left: 15%;
}

#directives-calendar #datetimeform {
	visibility: hidden;
}

/* Allows .modal-backdrop to remain on the page without blocking */
#directives-calendar .modal-backdrop {
	overflow: hidden;
	height: 0;
	-webkit-transition: opacity 0.15s linear, height 0 0.2s linear;
	-moz-transition: opacity 0.15s linear, height 0 0.2s linear;
	-ms-transition: opacity 0.15s linear, height 0 0.2s linear;
	-o-transition: opacity 0.15s linear, height 0 0.2s linear;
	transition: opacity 0.15s linear, height 0 0.2s linear;
}
#directives-calendar .modal-backdrop.in {
	height: 100%;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-ms-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

/*** Calendar ***/

#directives-calendar .calAlert{
	width: 595px; float: right; margin-bottom: 5px;
}

#directives-calendar .calXBtn{
	float: right; margin-top: -5px; margin-right: -5px;
}

#directives-calendar .calWell{
	float: left; margin-bottom: 40px;
}

#directives-calendar .fc-event.openSesame .fc-event-skin{
	background-color: rgb(229, 229, 11);
	color: black;
}

#directives-calendar .fc-event.customFeed .fc-event-skin{
	background-color: rgb(132, 222, 175);
	color: black;
}

#directives-calendar .fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	color: red;
	}
#directives-calendar .calTools{
	margin-bottom: 10px;
}