<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="container-inner">
					<h1 class="title">Crumble</h1>
					<div class="pitch">
						<p>Broadcast your kitchen to the world.</p>
						<p>Live cooking for everyone.</p>
					</div>
					<img src="static/images/pot-grey-64.png" />
					<h2 class="form-desc">Get Email Updates</h2>
					<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
						<form action="http://crumble.us3.list-manage.com/subscribe/post?u=d16b9bd985e891cbee9ae64d9&amp;id=ded1ccd7a0" roal="form" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
							<div class="form-group sign-up">
								<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
							</div>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;">
								<input type="text" name="b_d16b9bd985e891cbee9ae64d9_ded1ccd7a0" value="">
							</div>
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-lg btn-subscribe">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-8 col-md-offset-2 text-center footer">
	<p>
		Crumble is a student run project out the the University of Washington's <a href="http://ischool.uw.edu/" target="_blank" rel="nofollow">Informatics</a> program.
	</p>
</div>
