<div class="container container-main profile">
	<div class="row row-banner row-banner-user" style="background-image: url('{{banner}}')">

	</div>
	<div class="row row-orange navigation">
		<div class="col-md-12">
			<span class="profile-image"><img class="img-circle" src="http://www.gravatar.com/avatar/80c98d5411a7bd502d306721f27d5343.jpg?s=250"></span>
			<h1>Evan Cohen</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"><p class="lead">This user has no bio</p></div>
		<div class="col-md-6"><strong>Streaming Key:</strong> {{self.broadcastKey}}</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Subscriptions:</h3>
			<p>You have no subsciptions.</p>
		</div>
	</div>
</div>