<div class="header">
  <h1>Crumble.TV - Sign Up</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<form ng-submit="createUser()">
			<div class="input-group input-group-lg">
			  <input type="text" class="form-control" placeholder="Full Name" ng-model="fname">
			</div>
			<div class="input-group input-group-lg">
			  <input type="text" class="form-control" placeholder="Emal" ng-model="email">
			</div>
			<div class="input-group input-group-lg">
			  <input type="password" class="form-control" placeholder="Password" ng-model="password">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<h4>{{success}}</h4>
	<div>
</div>