<div class="container container-main">
	<div class="row margin-top">
		<div class="col-md-8">
			<h1 class="lead">Untitled Video - {{streamName}}</h1>
			<a id="videoPlayer" class="videoPlayer" data-name="streamName"></a>
			<div class="media">
			  <div class="pull-left">
			    <img class="media-object" ng-src="{{avatar}}" alt="image">
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">{{streamName}}
			    	<button class="btn btn-sm btn-danger pull-right">Unsubscribe</button></h4>
			    <p>This user has not entered a bio.</p>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="chat">
				<iframe class="grey" ng-src="{{chat}}"></iframe>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8">
			<div class="dec-box">
				<div class="dec-box-title">Directions</div>
				<div class="dec-box-content">
					<ol>
						<li>Something</li>
						<li>Something else</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="dec-box">
				<div class="dec-box-title">Ingredients</div>
				<div class="dec-box-content">
					<ul>
						<li><input type="checkbox" name="yolks" value="Bike"> 6 egg yolks</li>
						<li><input type="checkbox" name="yolks" value="Bike"> 3/4 cup white sugar</li>
						<li><input type="checkbox" name="yolks" value="Bike"> 2/3 cup milk</li>
						<li><input type="checkbox" name="yolks" value="Bike"> 1 1/4 cups heavy cream</li>
					</ul>
				</div>
			</div>
			<div class="dec-box">
				<div class="dec-box-title">Additional Tools</div>
				<div class="dec-box-content">
					<p>No additional tools required.</p>
				</div>
			</div>
		</div>
	</div>
	<hr>
</div>
